{% extends '../common/baseLayout.njk' %}

{% block dependencyCss %}
{% endblock %}

{% block pageCss %}
{% endblock %}

{% block body %}
{% endblock %}

{% block dependencyJs %}
{% endblock %}

{% block pageJs %}
{% endblock %}